#about {
  background-image: linear-gradient(0deg, #fff 50%, #F4F4F4 50%);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.about-content {

}

.fas.fa-heart i {
  color: #D03538;
}

i {
  color: #BFBFBF;
}

h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 30px;
}

h2 {
  font-size: 17px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}
